@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton/Panton-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton/Panton-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton/Panton-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton/Panton-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/Panton/Panton-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

html, a {
  font-family: Panton, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
}

/*h1, h2, p, a, label, input, select, option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/
.wrapper {
  margin: 0 auto;
  width: 1140px;
}

.flex-menu-quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 0 0;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1140px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.header__phone p {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}

.header__number {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #009ee2;
}

.top-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
  background: #1d1e1e;
}

.top-h__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 515px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-h__item {
  position: relative;
}

.top-h__item::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 7px;
  right: -40px;
  background: url("../img/decor/shape.png") no-repeat center;
}

.top-h__item:last-child::after {
  display: none;
}

.top-h__link {
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 124px;
}

.header__logo a {
  color: #009ee2;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 5px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search input[type="text"] {
  height: 38px;
  width: 553px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0 0 0 24px;
}

.header__search input[type="text"]::-webkit-input-placeholder {
  color: #1d1e1e;
  font-size: 14px;
  line-height: 25px;
}

.header__search input[type="text"]:-ms-input-placeholder {
  color: #1d1e1e;
  font-size: 14px;
  line-height: 25px;
}

.header__search input[type="text"]::-ms-input-placeholder {
  color: #1d1e1e;
  font-size: 14px;
  line-height: 25px;
}

.header__search input[type="text"]::placeholder {
  color: #1d1e1e;
  font-size: 14px;
  line-height: 25px;
}

.search__btn {
  position: relative;
  visibility: hidden;
}

.search__btn::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 21px;
  top: -8px;
  left: -35px;
  background: url("../img/decor/search.svg") no-repeat center;
  visibility: visible;
}

.middle-h__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle-h__icon {
  width: 30px;
  height: 30px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background: #efefef;
}

.bottom-h__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 845px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom-h__link {
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1d1e1e;
  padding: 8px;
}

.bottom-h__link:hover {
  color: #009ee2;
}

.bottom-h__link--current {
  position: relative;
  color: #009ee2;
}

.bottom-h__link--current::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 15px;
  top: -16px;
  left: 50%;
  margin: 0 0 0 -12.5px;
  background: url("../img/decor/current-menu.png") no-repeat center;
}

.bottom-h__btn {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  width: 263px;
  min-height: 60px;
  border: none;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#33b9e9), to(#088ec7));
  background: linear-gradient(90deg, #33b9e9, #088ec7);
}

.bottom-h__btn--burger, .bottom-h__btn--burger::before, .bottom-h__btn--burger::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  top: 29px;
  left: 17px;
  background: #ffffff;
}

.bottom-h__btn--burger::before {
  content: '';
  top: -6px;
  left: 0px;
}

.bottom-h__btn--burger::after {
  content: '';
  top: 6px;
  left: 0px;
}

.bottom-h__btn::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 9px;
  top: 26px;
  right: 22px;
  background: url("../img/decor/arrow-point-to-right.png") no-repeat center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 40px 30px -40px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 40px 30px -40px rgba(50, 50, 50, 0.5);
}

.menu__item {
  margin: 0 0 1px 0;
}

.menu__item:first-child a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.menu__item:last-child a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 47px;
  font-weight: 600;
  color: #1d1e1e;
  background: #efefef;
  width: 201px;
  height: 46px;
  padding: 0 0 0 62px;
}

.menu__link::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  top: 17px;
  left: 23px;
  background: url("../img/decor/menu-shape.png") no-repeat center;
}

.menu__link::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 14px;
  top: 16px;
  right: 16px;
  background: url("../img/decor/arrow-point-to-right-menu.png") no-repeat center;
}

.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 130px 30px -125px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 130px 30px -125px rgba(50, 50, 50, 0.5);
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 847px;
  height: 409px;
  background: linear-gradient(310deg, #4cd2ff, #0086c0);
  border-radius: 5px;
}

.slider__item img {
  padding: 0 80px 0 0;
  margin: -17px 0 0 0;
}

.slider__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 330px;
  letter-spacing: 2px;
  margin: 0;
}

.slider__description {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #4bd1fe;
  margin: 20px 0 0 0;
}

.slider__price {
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 400;
}

.slider__btn {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: #ffffff;
  width: 174px;
  height: 54px;
  border: none;
  background: #1d1e1e;
  margin: 20px 0 0 0;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 69px 0 0 43px;
}

.slide-2, .slide-3 {
  display: none;
}

.quick__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 29px 0 0 0;
  padding: 0;
}

.quick__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 262px;
  height: 172px;
  background: linear-gradient(310deg, #4cd2ff, #0086c0);
  -webkit-box-shadow: 0px 50px 30px -40px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 50px 30px -40px rgba(50, 50, 50, 0.5);
  border-radius: 5px;
}

.quick__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quick__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  width: 120px;
  margin: 26px 0 0 24px;
}

.quick__description {
  font-size: 14px;
  font-weight: 500;
  color: #4cd2fe;
  width: 122px;
  min-height: 35px;
  margin: 5px 0 0 24px;
}

.quick__icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 0 21px 24px;
  background: url("../img/decor/arrow-point-to-right-circle.png") no-repeat center;
}

.img-rawbite {
  margin: 15px 0 0 -24px;
}

.img-book {
  margin: -6px -24px 0 -24px;
}

.img-man {
  margin: -32px -24px 0 -146px;
}
/*# sourceMappingURL=style.css.map */