.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 130px 30px -125px rgba(50, 50, 50, 0.4);
  transition: all 0.4s;
  &:hover {
    box-shadow: 0px 130px 30px -125px rgba(50, 50, 50, 0.7);
  }
  &__item {
    display: flex;
    justify-content: space-between;
    
    width: 847px;
    height: 409px;

    background: linear-gradient(310deg,#4cd2ff, #0086c0);
    border-radius: 5px;
    img {
      padding: 0 80px 0 0;
      margin: -17px 0 0 0;
    }
  }
  &__title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 330px;
    letter-spacing: 2px;

    margin: 0;
  }
  &__description {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: #4bd1fe;

    margin: 20px 0 0 0;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
  }
  &__btn {
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    cursor: pointer;

    width: 174px;
    height: 54px;

    border: none;
    background:#1d1e1e;

    margin: 20px 0 0 0;
  }
}

.slide__content {
  display: flex;
  flex-direction: column;
  margin: 69px 0 0 43px;
}

.slide-2, .slide-3 {
  display: none;
}

.quick__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  margin: 29px 0 0 0;
  padding: 0;
}

.quick__link {
  display: flex;
  width: 262px;
  height: 172px;

  background: linear-gradient(310deg,#4cd2ff, #0086c0);
  box-shadow: 0px 50px 30px -40px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  transition: all 0.4s;
  &:hover {
    box-shadow: 0px 50px 30px -40px rgba(50, 50, 50, 0.7);
  }
}

.quick__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quick__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;

  width: 120px;
  margin: 26px 0 0 24px;
}

.quick__description {
  font-size: 14px;
  font-weight: 500;
  color: #4cd2fe;

  width: 122px;
  min-height: 35px;

  margin: 5px 0 0 24px;
}

.quick__icon {
  display: block;

  width: 25px;
  height: 25px;

  margin: 0 0 21px 24px;

  background: url("../img/decor/arrow-point-to-right-circle.png") no-repeat center;
}

.img-rawbite {
  margin: 15px 0 0 -24px;
}

.img-book {
  margin: -6px -24px 0 -24px;
}

.img-man {
  margin: -32px -24px 0 -146px;
}