@font-face{
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-Regular.woff2') format('woff2'),;
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-SemiBold.woff2') format('woff2'),;
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-Bold.woff2') format('woff2'),;
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-ExtraBold.woff2') format('woff2'),;
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Panton';
  src: url('../fonts/Panton/Panton-Black.woff2') format('woff2'),;
  font-weight: 800;
  font-style: normal;
}


html, a {
  font-family: Panton, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*img {
  max-width: 100%;
  //height: 100%;
}*/

/*h1, h2, p, a, label, input, select, option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/

.wrapper {
  margin: 0 auto;
  width: 1140px;
}

.flex-menu-quick {
  display: flex;
  justify-content: space-between;
  
  margin: 30px 0 0 0;
}
